.list {
    display: none;
}

.show {
    display: block;
    position: absolute;
    background-color: rgb(40, 42, 54);
    color: #ccc;

}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.li {
    display: block;
    cursor: pointer;
    text-align: center;
    border-bottom: 0.5px solid #ccc;
}

.li:hover {
    background-color: #ccc;
    color: red;
}

.options-list:hover>div {
    width: 100px;
    display: block;
    position: absolute;
    background-color: rgb(40, 42, 54);
    color: #ccc;
}